@page
@model WebApi.Views.VerificationErrorModel
@{
}


<!DOCTYPE html>
<html>
<head>
    <title>Email Verification Error</title>
</head>
<body>
    <h1>Email Verification Error</h1>
    <p>@ViewData["ErrorMessage"]</p>
    
</body>
</html>
